* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Georgian', sans-serif;
}

header{
    width: 100%;
    display: flex;
    background-color:  #EFF0F3;
    justify-content: center;
}

#theme-button{
    width: 100px;
    height: 50px;
    background-color: #6A9082;
    outline: none;
    border: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

main {
    background-color: #EFF0F3;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.quiz-box {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 49px
}

.quiz-box>h1 {
    color: #0D2525;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
}

.quiz-box>h2 {
    color: #0D2525;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.input-box {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    align-items: center;
}

form{
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    gap: 49px;
}

.input-box>input {
    width: 132px;
    height: 40px;
    background: #1B2220;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #FFF;
    text-align: center;
    font-family: Noto Sans Georgian;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.input-box>label {
    color: black;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.input-group {
    width: 433px;
    display: flex;
    display: grid;
    grid-template-columns:  auto auto;
    justify-content: space-between;
}

.quiz-box > form > button {
    width: 162px;
    height: 50px;
    background-color: #6A9082;
    outline: none;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 447px) {
    body{
        justify-content: left;
    }
    .quiz-box{
        width: 354px;
        justify-items: start;
        margin-left: 10px;
    }
    .quiz-box>h1{
        font-size: 24px;
    }
    .quiz-box>h2{
        font-size: 15px;
    }
    .input-box>label{
        font-size: 16px;
    }
    .input-box > input {
        width: 104px;
        height: 32px;
    }
    .input-group{
        width: 354px;
    }
    form{
        justify-items: left;
    }
    #theme-button{
        width: 80px;
        height: auto;
    }
}

@media screen and (max-width: 366px) {
    .quiz-box>h1{
        font-size: 22px;
    }
    form{
        width: 100%;
    }
    .input-group > .input-box{
        width: 100%;
        grid-template-columns:  auto auto;
        grid-row-gap: 39px
    }
    .input-group{
        width: 100%;
        grid-template-columns: auto;
        grid-row-gap: 19px
    }
    #theme-button{
        width: 60px;
        height: auto
    }
}